<div class="container">
    <div class="card-group">
        <app-producto (selectShop)="addCarrito($event);" [dataInput]="data" [indexInput]="i" *ngFor="let data of items; let i = index;"></app-producto>
    </div>

    <hr>

    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Carrito</h1>
        <div *ngIf="carrito.length > 0">
            <app-carrito (shopDelete)="deleteElement($event)" [indexElement]></app-carrito>
        </div>

        <p *ngIf="carrito.length == 0" class="col-md-8 fs-4"> No hay productos en el carrito.</p>    
    </div>
</div>